body{
    background-image: url(paper.gif);
    background-attachment:fixed;
}
fieldset legend{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font: bolder;
}
fieldset label{
    
}
a {
    display: inline-block;
    text-align: center;
    padding: auto;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
}
li{
    background-color: rgb(195, 253, 255);
    display: block;
    float: left;
    /* border: 1px solid black; */
    padding: 10px;
    color: rgb(0, 0, 0);
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    margin-left: 20px;
}
div.image_music img{
    width: 100%;
    height: auto;
}
.image_music :hover {
    border: 1px solid black;
}